.reviews__container {
  display: grid;
  grid-template-rows: $em * 4.2 $em * 52;
}

.reviews__title {
  border-bottom: 2px solid $color-light;
  color: $color-primary;
  font-family: $font-mukta;
  font-size: $font-24;
  font-weight: $font-700;
  height: $h-100;
  margin-bottom: $em * 0.5;
  text-align: right;
}

.reviews__grid {
  grid-row: 2/-1;
  max-height: $em * 52;
  overflow-x: auto;
}

.review__card {
  border: 1px solid $color-light;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  margin: $em * 2 0;
  padding: $em;
}

.review__card--user {
  display: flex;
  padding: $em;

  h3 {
    color: $color-primary;
    font-family: $font-mukta;
    font-size: $font-16;
    font-weight: $font-700;
  }

  img {
    border-radius: 50%;
    height: $em * 5;
    object-fit: cover;
    width: $em * 5;
  }
}

.review__card--msg {
  color: $color-secondary;
  font-family: $font-mukta;
  font-size: $font-12;
  font-weight: $font-300;
}

.user-info {
  margin-left: $em;
}
