.errors {
  background-color: #ec4646;
  color: $color-white;
  display: grid;
  grid-template-columns: 90% 1fr;
  height: $em * 5;
  list-style: none;
  position: absolute;
  top: 60%;
  width: 60%;

  p {
    align-self: center;
    font-family: $font-mukta;
    font-size: $font-16;
    font-weight: $font-500;
    grid-column: 1/2;
    justify-self: center;
  }

  span {
    @include center-items;

    cursor: pointer;
    grid-column: 2/-1;
    height: $h-100;
    width: $w-100;
  }
}

.dummy-data {
  height: $h-100;
  width: $w-100;
}
