.home {
  @include center-items;

  flex-direction: column;
  grid-column: 2/-2;
  height: calc(100vh - 144px);
  margin-top: $em * 8;
  width: $w-100;

  &__input {
    width: $w-100;
  }
}

.home-with-search {
  @include center-items;

  grid-column: 2/-2;
  height: auto;
  margin-top: $em * 10;
}
