.home {
  @include center-items;

  flex-direction: column;
  grid-column: 2/-2;
  height: calc(100vh - 144px);
  width: $w-100;

  &__input {
    grid-column: 2/-2;
    width: $w-100;
  }
}

.home-with-search {
  @include center-items;

  grid-column: 2/-2;
  height: auto;
}
