.info__hours {
  display: flex;
  flex-direction: column;
  font-family: $font-mukta;
  font-size: $font-16;
  height: $h-100;
  justify-content: center;
  margin-top: $em * 0.25;
  width: $w-100;
}

.hour {
  padding: $em * 0.08;
  width: $w-100;

  span:first-of-type {
    color: $color-primary;
    font-weight: $font-500;
  }

  span:last-of-type {
    color: $color-secondary;
    float: right;
  }
}
