.menu {
  background-color: $color-aux;
  display: grid;
  grid-column: 2/-2;
  width: $w-100;

  &__logo {
    @include center-items;

    grid-column: 6/-6;
    height: $h-100;
    width: $w-100;

    svg {
      height: auto;
      width: 100%;
    }
  }

  &__search {
    @include center-items;

    grid-column: 2/10;
    justify-content: space-between;
    width: $w-100;
  }

  &__list {
    align-self: center;
    grid-column: 12/-1;
    justify-self: center;

    a {
      color: $color-secondary;
      font-family: $font-mukta;
      font-size: $font-16;
      font-weight: $font-500;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
