.search {
  @include center-items;

  justify-content: space-between;
  padding: 0 $em * 4;
  width: $w-100;

  &__container {
    width: $w-100;

    input[type='text'] {
      @include inputs;

      border-end-start-radius: $em * 0.35;
      border-start-start-radius: $em * 0.35;
    }
  }

  &__location {
    input[type='text'] {
      @include inputs;

      border-left: 1px solid $color-secondary;
    }
  }
}

button[type='submit'] {
  background-color: $color-secondary;
  border: transparent;
  border-end-end-radius: $em * 0.35;
  border-start-end-radius: $em * 0.35;
  height: $em * 3;
  width: $em * 3;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.75);
  }
}
