.search {
  @include center-items;

  justify-content: space-between;
  padding: 0 $em * 4;
  width: $w-100;

  &__container {
    width: $w-100;

    input[type='text'] {
      @include inputs;
    }
  }

  &__location {
    input[type='text'] {
      @include inputs;

      border-left: 1px solid $color-secondary;
    }
  }
}

button[type='submit'] {
  background-color: $color-secondary;
  border: transparent;
  height: $em * 3;
  width: $em * 3;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.75);
  }
}

.home-intro {
  @include center-items;

  color: $color-secondary;
  flex-direction: column;
  font-family: $font-mukta;
  font-size: $font-24;
  font-weight: $font-700;
  margin: $em 0;
  padding: 0 $em * 2;
  position: absolute;
  top: 25%;
  width: $w-100;
}
