.card__item {
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
  height: $h-100;
  max-height: $em * 50;
  max-width: $em * 35;
  width: $w-100;

  &--img {
    height: $em * 25;
    width: $em * 35;

    img {
      height: $em * 25;
      object-fit: cover;
      width: $em * 35;
    }
  }
}

.card__item--info {
  @include center-items;

  align-items: flex-start;
  flex-direction: column;
  font-family: $font-mukta;
  height: $em * 25;
  justify-content: space-between;
  padding: $em * 2;
  width: $w-100;

  h2 {
    color: $color-primary;
    font-size: $font-18;
    font-weight: $font-700;
  }

  p {
    color: $color-secondary;
    font-size: $font-16;
  }

  span {
    color: $color-secondary;
    font-weight: $font-500;
    margin-left: $em;
  }
}

.card__item--review {
  @include center-items;

  align-items: initial;
  font-size: $font-16;

  span {
    color: $color-secondary;
    font-weight: $font-700;
    margin-left: $em * 2;
  }
}

.card__item--button {
  @include button;

  border: transparent;
}
